.Address {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
    .ImageDesc{
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 1px;
        margin: 10px 0;
    }

    .Intro {
        text-transform: uppercase;

        .Logo {
            width: 100px;
            height: 150px;
        }

        p {
            margin: 10px;
            letter-spacing: 2px;
        }

        h1 {
            margin-bottom: 20px;
            font-weight: 900;
            letter-spacing: 3px;
        }
    }

    .Header {
        text-align: left;
        margin: 20px 0;

        .Title {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: normal;
            margin: 10px 0;
        }

        .Desc {
            letter-spacing: 1px;
            font-weight: bolder;
        }
    }

    .ImageFrame {
        border: 3px dashed gainsboro;
        height: 200px;
        position: relative;
        margin: 0 auto;

        input {
            opacity: 0;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-transform: uppercase;
            font-family: sans-serif;
            text-align: center;
        }

        img {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .1;
        }
    }

    #img-preview {
        display: flex;
        justify-content: space-around;

        img {
            width: 65px;
            height: 65px;
            border: 3px dashed gainsboro;
            margin: 10px 0;
            padding: 5px;
        }
    }

    .addButton {
        border: none;
        border-radius: 30px;
        background-color: #76a395;
        padding: 15px 30px;
        margin: 25px auto;
        letter-spacing: 1px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
    }

    .Popup {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);

        &__close {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 20px;
            font-weight: 100;
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 90%;
            background-color: white;
            opacity: 1;
            padding: 20px 0;
            overflow: auto;
        }

        &__Title {
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            margin: 0 auto 10px;  
        }

        &__Wrap {
            display: flex;
            justify-content: space-evenly;
            margin: 15px 0;

            h1 {
                font-family: 'Gill Sans MT';
            }
        }

        &__Text {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.6;
            text-align: center;
            margin: 0 auto 20px;
        }

        &__Manual {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 1.6;
            text-align: left;
            width: 85%;
        }
    }

    .active {
        display: block;
    }
}