.Navbar {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .User {
            display: flex;
            align-items: center;

            img {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }

        li {
            margin: 10px;
        }
    }

    .Logout {
        border: none;
        border-radius: 30px;
        background-color: #76a395;
        padding: 5px 15px;
        color: white;
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
    }
}